@media ( max-width: 768px){
    .kategoriler {
     flex-direction: column;
     gap: 15px;
    }
        .buyukkonten {
            width: 90%;
        }
    }
    *{
        transition: all 0.3s ease;
    }
body {
    background-image:url(todo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#baslık {
    text-align: center;
    
}
#baslık h2 {
    color: rgb(243, 156, 227);
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    margin-bottom: 20px;
}
#task {
    background-color: rgb(240, 236, 243);
    width: 280px;
    height: 25px;
}
button {
    border: 2px solid #ddd;
    font-size: 11px;
    background-color: rgb(156, 237, 172);
    width: 35px;
    height: 35px;
}
#errorMessage {
    color: rgba(246, 5, 5, 0.741);
    height: 18px;
    margin-top: 5px;
    font-size: 14px;
}
 #todoopsions {
    height: 30px;
    width: 15%;
    color: rgba(244, 244, 138, 0.827);
    background-color: rgb(245, 151, 215);
    cursor: pointer;
}
.cizgi {
   height:3px;
   width: 100%;
   background: rgb(184, 249, 147);
   margin: 25px auto;
}
#kategoriler {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.kategori {
    flex: 1;
    border: 5px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background: #fafafa;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(124, 221, 246);
    backdrop-filter: blur(10px);
}

.buyukkonten {
    background-color: #92c9fd;
    padding: 90px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(252, 134, 216, 0.741);
    width: 800px;
    margin: 0 auto;
}
.todoinput { 
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.kategori:hover {
    transform: translate(-5px);
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(53, 52, 52, 0.5);
}
button:hover {
    cursor: pointer;
    border: 3px solid #72e68b;
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 10px 15px rgba(3, 246, 88, 0.5);
}
#todoopsions:hover {
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(245, 5, 5, 0.5);
}
.gorevconteiner {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 8px;
    background: #acf298;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgb(237, 255, 101);
}
.tamamlandi {
    text-decoration: line-through;
    opacity: 0.6;
}
.tikbtn,
.silbtn {
    margin-left: 10px;
    }

.gorev {
    display: flex;
    align-items: center;
}
.gorev span {
    margin-right: auto;
}
.silbtn :hover {
    transform: 0.5s;
    box-shadow: 0 5px 15px rgba(245, 5, 5, 0.5);
}
